@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Varela+Round);

/***************
   Sass Variables
***************/
$title-font: "Varela Round", sans-serif;
$font-stack: Roboto, sans-serif;
$font-color: #576366;
$heading-color: #384047;
$intro-color: #5fcf80;
$background-color: #fff;
$alt-background: #f4f7f8;

/***************
Total Page Rules
***************/

html,
body {
  font-family: $font-stack;
  width: 100%;
  background-color: $background-color;
  margin: 0px;
  padding: 0px;
}



/***************
    Modal
***************/
.modal {
  position: absolute;
  z-index: 1000;
  background-color: $background-color;
  border: 2px solid #384047;
  overflow: scroll;
}

.modal-close {
  background-color: transparent;
  border: 1px solid #ff1654;
  width: 16.438em;
  height: 2.500em;
  border-radius: .625em;
  font-size: 1em;
  color: #ff1654;
  margin-left: 2.406em;
  margin-top: 1.5em;
}

.modal-close:hover,
.modal-close:active {
  background-color: #ff1654;
  color: $background-color;
}
.modal-close:focus {
  outline: none;
}

#contact-options {
  p.modalMessage {
    margin-top: .313em;
    padding: 0 .313em 0 .313em;
    margin-bottom: .313em;
  }
  p, img {
    text-align: center;
    padding: 0;
    text-decoration: none;
  }
  img {
    height: 3.125em;
    width: 3.125em;
    padding-top: .250em;
  }
  .modalImage {
    text-align: center;
  }
  p.modalContact {
    margin-top: 0px;
    font-weight: bold;
    margin-bottom: .313em;
  }
  a {
    text-decoration: none;
  }
}

/***************
   Font rules
***************/
h1,
h2,
h3,
h4 {
  color: $heading-color;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
  padding: 20px 0;
  text-align: center;

}
h4 {
  font-size: 1.125em;
  margin-top: 0;
  padding-top: 10px;
}
p {
  font-size: 1em;
  color: $font-color;
  padding: 0 .625em 1.250em;
}
#logo a {
  font-family: $title-font;
  font-size: 2.5em;
  text-decoration: none;
}

/*****************
Section Alignment
*****************/
#information {
  width: 60em;
  margin: 0 auto;
}

.services, .philosophy {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.info-block, .philosophy-block {
  width: 300px;
  margin: 10px;
  text-align: center;
}

/***************
   Header
***************/
header {
  position: fixed;
  background-color: $background-color;
  z-index: 10;
  width: 100%;
  border-bottom: 1px solid $alt-background;
  height: 4.5em;
}

/***************
   Navigation
***************/
nav.mobile {
  display: none;
}
nav.desktop {
  display: block;
}
.nav-list {
  display: inline;
  list-style: none;
}
#logo {
  float: left;
  margin-left: 40px;
  padding-top: 10px;
}
#logo a {
  color: $heading-color;
}
.nav-list li a:hover {
  color: $intro-color;
}
.nav-list li a:active {
  color: $intro-color;
}
.nav-list li a.active {
  color: $intro-color;
}
.nav-item {
  float: right;
  margin-right: 40px;
  padding-top: 30px;
}
.nav-item > a {
  text-decoration: none;
  color: $heading-color;
}
.blogNav {
  float: right;
  margin-right: 40px;
  padding-top: 30px;
}
.blogNav > a {
  text-decoration: none;
  color: $heading-color;
}
#slideIn-desktop {
  display: none;
  text-align: center;
}
button.headerButtonDesktop {
  background-color: transparent;
  border: 1px solid $intro-color;
  width: 263px;
  height: 52px;
  border-radius: 10px;
  font-size: 1em;
  color: $intro-color;
  margin-top: -.313em;
}
button.headerButtonDesktop:hover,
button.headerButton:active {
  background-color: $intro-color;
  color: $background-color;
}
button.headerButtonDesktop:focus {
  outline: none;
}

/***************
  Intro Section
***************/
.intro {
  background-color: $intro-color;
  height: inherit;
  padding-top: 5em;
  text-align: center;
}
hgroup {
  padding: 20px;
}
hgroup > h1,
h2 {
  color: $background-color;
}
button.contact {
  width: 263px;
  height: 52px;
  border-radius: 10px;
  background-color: $background-color;
  border: 1px solid #118c4e;
  font-size: 1em;
  color: $intro-color;
  display: inline-block;
  margin-bottom: 4%;
}
button.contact:hover,
button.contact:active {
  background-color: $alt-background;
  color: $intro-color;
}
button.contact:focus {
  outline: none;
}


/***************
Services Section
***************/
section.services {
  border-bottom: 2px solid $alt-background;
}
.info-block img {
  padding-top: 15px;
}
.info-block-last p {
  border-bottom: none;
}

/***************
Philosophy Section
***************/
.philosophy {
  width: 960px;
  margin: 0 auto;
}
.philosophy-block img {
  padding-top: 15px;
}


/***************
Reviews Section
***************/
#reviews {
  background-color: $alt-background;
  margin: 0;
  height: inherit;
}
.quoteBlock {
  max-width: 60em;
  text-align: center;
  margin: 0 auto;
}
p.quote {
  font-style: italic;
}
p.name {
  font-weight: bold;
  margin: 0;
  text-align: left;
  padding-left: 10px;
}

/***************
  About Section
***************/
#about {
  width: 60em;
  height: 18.75em;
  margin: 0 auto;
}

.personalPhoto > img {
  float: left;
  margin-right: 20px;
  padding-right: 10px;
  padding-top: 7px;
  border-radius: 50%;
  width: 250px;
}

.personalInfo {
  padding: 15px 0 0 0;
}

.personalInfo > p {
  margin-bottom: 0;
  padding-bottom: 0;
}

/***********************
  Blog Log-In Section
************************/
.logInContainer {
  max-width: 480px;
  padding-top: 7em;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.logInHeader {
  color: $heading-color;
  text-align: center;
}

.form-control {
  width: 100%;
  height: 3em;
  border-radius: 5px;
  margin-bottom: 1em;
  border: 1px solid $alt-background;
  font-size: 1em;
  padding-top: 5px;
}

input.form-control:focus {
  outline: none !important;
  // border: 1px solid $intro-color;
  box-shadow: 0 0 5px #ffb366;
}

 button.logInBtn:focus {
  outline: none;
}

button.logInBtn{
  background-color: transparent;
  border: 1px solid $intro-color;
  width: 100%;
  height: 52px;
  border-radius: 10px;
  font-size: 1em;
  color: $intro-color;
}

button.logInBtn:hover{
  background-color: $intro-color;
  color: $background-color;
}

button.logInBtn:active{
  background-color: $intro-color;
  color: $background-color;
}

.has-error {
  color: red;
}

/*******************
  Add Post Section
*******************/
.addPostWrapper {
  height: 100%;
  margin: 0 auto;
  max-width: 1230px;
}

.addPostHeader {
  padding-top: 3em;
  text-align: center;
}

.titleArea {
  margin-bottom: 2em;
}
.postTitleInput {
  width: 100%;
  height: 3em;
  padding: 5px;
  font-size: 1em;
}

.postContentInput {
  width: 100%;
  height: 10em;
  padding: 5px;
  font-size: 1em;
}

.postTitleInput:focus, .postContentInput:focus {
  outline: none;
}

input.publishBtn{
  background-color: $intro-color;
  border: 1px solid $intro-color;
  width: 7em;
  height: 2em;
  margin: 1em 0 1em 0;
  border-radius: 10px;
  font-size: 1em;
  color: $background-color;
}

button.publishBtn:hover{
  background-color: $intro-color;
  color: $background-color;
}

button.publishBtn:active{
  background-color: $intro-color;
  color: $background-color;
}



/***************
  Blog Section
***************/
.blogHeader {
  padding-top: 3em;
}





/***************
  Footer
***************/
footer {
  background-color: $alt-background;
  text-align: center;
}
footer {
  top: 0.5em;
}



.date.ng-binding {
  padding-top: 10px;
}
img.contact {
  width: 3em;
  height: 3em;
  padding-top: 5px;
  margin-right: 20px;
}
.contactLinks a {
  font-size: 0.75em;
  color: $font-color;
  text-decoration: none;
}
.contactLinks a:visited {
  color: $font-color;
}

.icons {
  color: $intro-color;
}


/***************
MOBILE STYLES
***************/

@media only screen and (max-width: 1230px) {

/***************
Total Page Rules
***************/
html,
body {
  font-family: $font-stack;
  height: 100%;
  background-color: $background-color;
  margin: 0 auto;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}

hgroup {
  padding: 20px;

}

  #content {
    text-align: center;
    width: 100%;
  }
  p {
    max-width: 480px;
    margin: 0 auto;
  }
  h3 {
    font-size: 1.5em;
    padding: 20px 0;
  }
  p.name {
    font-weight: bold;
    text-align: center;
    max-width: 480px;
    margin: 0 auto;
  }


/***************
   Header
***************/
  header2 {
    position: fixed;
    background-color: $background-color;
    z-index: 10;
    width: 100%;
    border-bottom: 1px solid $alt-background;
  }

/***************
   Navigation
***************/
  nav.desktop {
    display: none;
  }
  nav.mobile {
    display: block;
    text-align: center;
  }
  .nav-item-mobile {
    display: inline;
    margin-right: 2em;
    list-style: none;
  }
  .blogNavMobile {
    display: inline;
    margin-right: 2em;
    list-style: none;
  }
  #logo-mobile a {
    font-family: $title-font;
    font-size: 3em;
    text-decoration: none;
    color: $heading-color;
  }
.nav-item-mobile a {
  text-decoration: none;
  color: $heading-color;
}
.nav-item-mobile a:visited {
    color: $heading-color;
  }
  .blogNavMobile a {
    text-decoration: none;
    color: $heading-color;
  }
  .blogNavMobile a:visited {
      color: $heading-color;
    }
  #logo-mobile a:visited {
    color: $heading-color;
  }
  .nav-list-mobile li a:hover {
    color: $intro-color;
  }
  .nav-list-mobile li a:active {
    color: $intro-color;
  }
  .nav-list-mobile li a.active {
    color: $intro-color;
  }
  #slideIn-mobile {
    display: none;
  }
  button.headerButton {
    background-color: transparent;
    border: 1px solid $intro-color;
    width: 263px;
    height: 52px;
    border-radius: 10px;
    font-size: 1em;
    color: $intro-color;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  button.headerButton:hover,
  button.headerButton:active {
    background-color: $intro-color;
    color: $background-color;
  }
  button.headerButton:focus {
    outline: none;
  }

/*****************
Section Alignment
*****************/
  #information {
    margin: 0 auto;
    width: 100%;
  }

/***************
  Intro Section
***************/
.intro {
  background-color: $intro-color;
  height: inherit;
  padding-top: 5em;
  text-align: center;
}

button.contact {
  margin-bottom: 6%;
}

/***************************
Services/Philosophy Section
***************************/
  .services, .philosophy {
    display: block;
  }

  .info-block, .philosophy-block {
    width: 100%;
  }
  .info-block p {
    border-bottom: 2px solid $alt-background;
  }
  .info-block img {
    padding-top: 15px;
  }
  .philosophy {
    background-color: $alt-background;
  }
  .philHeader {
    background-color: $alt-background;
    margin: 0;
  }
  .philosophy-block {
    margin: 0;
  }
  .philosophy-block p {
    border-bottom: 2px solid #f2f2f2;
  }
  .philosophy-block img {
    padding-top: 15px;
  }
  .last p {
    border-bottom: none;
  }

  /***************
  Philosophy Section
  ***************/
  .philosophy {
    width: inherit;
  }

  /***************
  Reviews Section
  ***************/
  #reviews {
    background-color: $background-color;
  }

  .quoteBlock {
    width: 100%;
  }

  p.quote {
    font-style: italic;
  }
  p.name {
    font-weight: bold;
    margin: 0;
    text-align: left;
    padding-left: 10px;
  }

  /***************
    About Section
  ***************/
  #about {
    width: inherit;
    background-color: $alt-background;
    height: inherit;
    margin: 0 auto;
  }

  .personalPhoto > img {
    float: none;
    display: block;
    border-radius: 50%;
    width: 250px;
    margin: 0 auto;
  }

  .personalInfo > p {
    display: block;
    padding-top: 15px;
    padding-bottom: 5px;
    max-width: 480px;
    text-align: left;
  }


  /***************
    Footer
  ***************/
  footer {
    background-color: $background-color;
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  html, body {
    margin: 0 auto;
  }
  .intro {
    height: inherit;
  }
  button.contact {
    margin-bottom: 1em;
  }

  #logo-mobile a {
    font-family: $title-font;
    font-size: 2em;
    text-decoration: none;
    color: $heading-color;
  }

ul {
  -webkit-padding-start: 1.1em;
}

  .nav-item-mobile {
    margin-right: 1em;
  }

  .nav-item-mobile a {
    text-decoration: none;
    color: $heading-color;
    font-size: .8em;
    -webkit-font-size: .8em;
    -webkit-text-size-adjust:100%;
    -moz-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
  }
  .blogNavMobile {
    margin-right: 1em;
  }

  .blogNavMobile a {
    text-decoration: none;
    color: $heading-color;
    font-size: .8em;
    -webkit-font-size: .8em;
    -webkit-text-size-adjust:100%;
    -moz-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
  }
  img.contact {
    width: 2.5em;
    height: 2.5em;
    padding-top: 5px;
    margin-right: 20px;
  }
}
