<!DOCTYPE html>
<html ng-app="peiserApp">

<head>
  <meta name="fragment" content="!">
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
  <meta name='description' content="Tax, bookkeeping, payroll, and contractors' license report services serving the Northwest AR area: Springdale, Fayetteville, Rogers, and Bentonville.">
  <meta name="msvalidate.01" content="7C49386D78A20D846BAF0424B5DEB9B0" />
  <title>Bob Peiser, CPA: Tax Returns, Tax Consulting, Accounting Services</title>
  <link rel="stylesheet" href="css/styles.min.css" media="screen" title="no title" charset="utf-8">
  <link rel="shortcut icon" href="images/favicon.ico">
  <link href="http://bobpeiser.com/" rel="canonical" />
  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-73397336-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>

<body ng-controller="mainCtrl">
  <div id="page">
    <header>
      <nav class="desktop">
        <ul class="nav-list">
          <span id="logo"><a href="#">Bob Peiser, CPA</a></span>
          <li class="nav-item"><a href="#about">About</a></li>
          <li class="nav-item"><a href="#reviews">Reviews</a></li>
          <li class="nav-item"><a href="#philosophy">Philosophy</a></li>
          <li class="nav-item"><a href="#services">Services</a></li>

        </ul>
      </nav>
      <div class="share">
        <div id="slideIn-desktop">
          <button class="headerButtonDesktop" type="button" name="Contact Us">Contact Us</button>
        </div>
      </div>
    </header>
    <header2>
      <nav class="mobile">
        <div id="logo-mobile"><a href="#">Bob Peiser, CPA</a></div>
        <ul class="nav-list-mobile">
          <li class="nav-item-mobile"><a href="#services">Services</a></li>
          <li class="nav-item-mobile"><a href="#philosophy">Philosophy</a></li>
          <li class="nav-item-mobile"><a href="#reviews">Reviews</a></li>
          <li class="nav-item-mobile"><a href="#about">About</a></li>
        </ul>
        <div class="share">
          <div id="slideIn-mobile">
            <button class="headerButton" type="button" name="Contact Us">Contact Us</button>
          </div>
        </div>
      </nav>
    </header2>
    <div id="content">
      <div id="#" class="remove-hash">
        <section class="intro">
          <hgroup>
            <h1>Make taxes and administrative processes a breeze.</h1>
            <h2>Let us help manage your books and file your tax returns. </h2>
          </hgroup>

          <!-- Intro-Buttons -->
          <div class="share">
            <a>
              <button class="contact" type="button" name="Click to Email">Contact Us</button>
            </a>
          </div>
      </div>
      </section>
      <div id="information">
        <div id="services">
          <h3>Professional Accounting Services</h3>
          <section class="services">
            <div class="info-block">
              <img src="images/Money-Transfer.png" alt="Tax Returns" />
              <h4>Tax Returns</h4>
              <p>
                Let us help you prepare and file your business and personal, federal, and state tax returns.
              </p>
            </div>
            <div class="info-block">
              <img src="images/Bullish.png" alt="Tax Consulting" />
              <h4>Tax Consulting</h4>
              <p>
                We will work to ensure your taxes are filed in the most efficient manner with the most value to you.
              </p>
            </div>
            <div class="info-block">
              <img src="images/Calendar.png" alt="Monthly Bookkeeping" />
              <h4>Monthly Bookkeeping</h4>
              <p>
                Let us maintain your financial books so you can focus on growing your business.
              </p>
            </div>
            <div class="info-block">
              <img src="images/Debt.png" alt="Payroll" />
              <h4>Payroll</h4>
              <p>
                We know you're busy with multiple facets of your business, and we can help operations run smoothly by ensuring employees are paid on their regularly scheduled interval.
              </p>
            </div>
            <div class="info-block">
              <img src="images/US-Dollar.png" alt="Sales Tax Services" />
              <h4>Sales Tax Services</h4>
              <p>
                It can be difficult to track taxes owed as revenue is generated. We can take the work out of it for you by overseeing this aspect of your business.
              </p>
            </div>
            <div class="info-block">
              <img src="images/Inspection.png" alt="Contractors License Reports" />
              <h4>Contractor's License Reports</h4>
              <span class="last">
              <p>
                Let us help you generate contractor's license reports.
              </p>
            </span>
            </div>
        </div>
        <div id="philosophy">
          <h3 class="philHeader">Honest and Fair Collaboration with Clients</h3>
          <section class="philosophy">
            <div class="philosophy-block">
              <img src="images/Scales.png" alt="Integrity" />
              <h4>Integrity</h4>
              <p>
                Honesty and transparency are ingrained in our business practices, and we serve our clients while adhering to these conventions.
              </p>
            </div>
            <div class="philosophy-block">
              <img src="images/Approval.png" alt="Quality" />
              <h4>Quality</h4>
              <p>
                We maintain a high standard of quality in our work with great focus on accuracy and timely delivery.
              </p>
            </div>
            <div class="philosophy-block">
              <img src="images/Graduation-Cap.png" alt="Experience" />
              <h4>Experience</h4>
              <span class="last">
              <p>
                We have served our clients' accounting needs for over {{businessYears}} years, and this experience is applied to our work everyday.
              </p>
            </span>
            </div>
        </div>
      </div>
      <div id="reviews">
        <h3>What Our Customers Say</h3>
        <div class="quoteBlock">
          <p class="quote">
            "Bob is dedicated, loyal, knowledgeable, creative, affordable and knows how to enjoy life! I highly recommend using his services for all of your accounting needs!"
          </p>
          <p class="name">
            - Holly
          </p>
        </div>
        <div class="quoteBlock">
          <p class="quote">
            "Bob is an amazing guy!! Only known him a short time but has already proven to be reliable and honest."
          </p>
          <p class="name">
            - Donald
          </p>
        </div>
      </div>
      <div id="about">
          <div class="personalPhoto">
            <img src="images/bob.jpg" alt="Bob Peiser" />
          </div>
          <div class="personalInfo">
            <p>Bob Peiser was born in Sayville, New York. Growing up, he was an avid runner and went to Bentley College in Massachusetts on a running scholarship to study accounting. He obtained his CPA license in 1982, and he has been an accounting professional
              ever since.</p>
            <p>After working in New York City, he transferred to Dallas, Texas and received his M.B.A at Dallas University. There he met his wife, Alice. In 1989, the family moved to Des Moines, Iowa so Bob could attend law school at Drake University. After
              graduating he took a position as controller in Lamar, Missouri.</p>
            <p>After nearly 3 years, they moved to Springdale, Arkansas in 1996 where Bob became a partner in a local CPA firm. He has been practicing in the Springdale area ever since. Bob still enjoys running, being very involved at his church, New Heights
              in Fayetteville, and spending time with his wife, 4 children and 3 (soon 4!) grandchildren.
            </p>
          </div>
      </div>
    </div>
    <footer>
      <div class="footer-wrapper">
        <div class="date">
          &copy;{{year}} Bob Peiser, CPA
        </div>
        <div class="contact-block">
          <a ng-click="goog_report-conversion('tel:479-756-1199')" href="tel:479-756-1199">
            <img class="contact" src="images/phone.png" alt="call" />
          </a>
          <a href="mailto:bobpeisercpa@gmail.com">
            <img class="contact" src="images/Email.png" alt="email" />
          </a>
          <a href="https://www.facebook.com/Bob-Peiser-CPA-Payroll-Tax-Preparation-Bookkeeping-Services-387255728145978/info/?tab=overview" target="_blank">
            <img class="contact" src="images/Facebook.svg" alt="facebook" />
          </a>
          <a href="https://www.linkedin.com/in/bob-peiser-08822a87" target="_blank">
            <img class="contact" src="images/LinkedIn.svg" alt="linked-in" />
          </a>
          <a href="https://goo.gl/maps/z8hZJLnuxcJ2" target="_blank">
            <img class="contact" src="images/small-business.png" alt="office location" />
          </a>
        </div>
        <div class="icons-link">
          <a href="https://icons8.com/" target="_blank">Icons provided by <span class="icons">Icons8</span></a>
        </div>
        <div class="developer">
          <a href="http://www.nathanallen.info/#/" target="_blank">Web design and development provided by <span class="icons">Nathan Allen</span></a>
        </div>
    </footer>
    </div>
    <!-- MODAL CONTENT -->
    <div id="contact-options">
      <p class="modalMessage">Awesome! You're one step closer to business nirvana!
      </p>
      <a ng-click="goog_report-conversion('tel:479-756-1199')" href="tel:479-756-1199">
        <div class="modalImage">
          <img src="images/phone.png" alt="Call Us!" />
        </div>
        <p class="modalContact">
          Phone: 479-756-1199
        </p>
      </a>
      <a href="mailto:bobpeisercpa@gmail.com">
        <div class="modalImage">
          <img src="images/Email.png" alt="E-mail Us!" />
        </div>
        <p class="modalContact">
          E-Mail: bobpeisercpa@gmail.com
        </p>
        <a href="https://goo.gl/maps/z8hZJLnuxcJ2" target="_blank">
          <div class="modalImage">
            <img src="images/small-business.png" alt="Visit Us!" />
          </div>
          <p class="modalContact">
            Address: 1392 Plaza Pl Springdale, AR 72764
          </p>
        </a>
    </div>
  </div>



  <!-- Scripts -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js" ></script>
  <script type="text/javascript" src="node_modules/angular/angular.js"></script>
  <script type="text/javascript" defer="defer" src="node_modules/jquery.scrollto/jquery.scrollTo.min.js"></script>
  <script type="text/javascript" defer="defer" src="app/app.js"></script>
  <script type="text/javascript" defer="defer" src="app/mainCtrl.min.js"></script>
  <script type="text/javascript" defer="defer" src="app/modal-init.min.js"></script>
  <script type="text/javascript" defer="defer" src="app/modal.min.js"></script>
  <!-- Google Code for Call from website Conversion Page
  In your html page, add the snippet and call
  goog_report_conversion when someone clicks on the
  chosen link or button. -->
  <script type="text/javascript">
    /* <![CDATA[ */
    goog_snippet_vars = function() {
      var w = window;
      w.google_conversion_id = 926022686;
      w.google_conversion_label = "v0MqCNSj0GQQnvjHuQM";
      w.google_remarketing_only = false;
    }
    // DO NOT CHANGE THE CODE BELOW.
    goog_report_conversion = function(url) {
      goog_snippet_vars();
      window.google_conversion_format = "3";
      var opt = new Object();
      opt.onload_callback = function() {
      if (typeof(url) != 'undefined') {
        window.location = url;
      }
    }
    var conv_handler = window['google_trackConversion'];
    if (typeof(conv_handler) == 'function') {
      conv_handler(opt);
    }
  }
  /* ]]> */
  </script>
  <script type="text/javascript"
    src="//www.googleadservices.com/pagead/conversion_async.js">
  </script>

</body>

</html>
