<div class="addPostWrapper">
  <h1 class="addPostHeader">Start Slingin'</h1>
<form ng-submit="addPost()">
  <div class="titleArea">
    <label class="postTitle">Title</label>
    <textarea class="postTitleInput" ng-model="post.title"></textarea>
  </div>

  <div class="contentArea">
    <label class="postContent">Content</label>
      <textarea class="postContentInput" ui-tinymce="tinyOptions" ng-model="post.content"></textarea>
  </div>

  <input name="image" type="file" id="upload" class="hidden" onchange="">



  <input ng-disabled="!post.title || !post.content" type="submit" class="postSubmitBtn"  value="Publish"  />
  
  <a href="/#blog">
    <button class="backToBlogBtn" type="button">Back to Blog</button>
  </a>
  </form>



</div>
