
  <div id="page">
    <div id="content">
      <div id="#" class="remove-hash">
        <section class="intro">
          <div class="headline-block">
            <h1 class="headline">Do you want to be a genius?</h1>
            <h2 class="sub-headline">Hire Bob Peiser, CPA. </h2>
          </div>

          <!-- Intro-Buttons -->
          <div class="share">
            <a>
              <button class="contact" type="button" name="Click to Email">Contact Us</button>
            </a>
          </div>
      </div>
      </section>
      <div id="information">
        <div id="services">
          <h3>Professional Accounting Services</h3>
          <section class="services">
            <div class="info-block">
              <img src="images/Money-Transfer.png" alt="Tax Returns" />
              <h4>Tax Returns</h4>
              <p class="pInfo">
                Let us help you prepare and file your business and personal, federal, and state tax returns.
              </p>
            </div>
            <div class="info-block">
              <img src="images/Bullish.png" alt="Tax Consulting" />
              <h4>Tax Consulting</h4>
              <p class="pInfo">
                We will work to ensure your taxes are filed in the most efficient manner with the most value to you.
              </p>
            </div>
            <div class="info-block">
              <img src="images/Calendar.png" alt="Monthly Bookkeeping" />
              <h4>Monthly Bookkeeping</h4>
              <p class="pInfo">
                Let us maintain your financial books so you can focus on growing your business.
              </p>
            </div>
            <div class="info-block">
              <img src="images/Debt.png" alt="Payroll" />
              <h4>Payroll</h4>
              <p class="pInfo">
                We know you're busy with multiple facets of your business, and we can help operations run smoothly by ensuring employees are paid on their regularly scheduled interval.
              </p>
            </div>
            <div class="info-block">
              <img src="images/US-Dollar.png" alt="Sales Tax Services" />
              <h4>Sales Tax Services</h4>
              <p class="pInfo">
                It can be difficult to track taxes owed as revenue is generated. We can take the work out of it for you by overseeing this aspect of your business.
              </p>
            </div>
            <div class="info-block">
              <img src="images/Inspection.png" alt="Contractors License Reports" />
              <h4>Contractor's License Reports</h4>
              <span class="last">
          <p class="pInfo">
            Let us help you generate contractor's license reports.
          </p>
        </span>
            </div>
        </div>
        <div id="philosophy">
          <h3 class="philHeader">Honest and Fair Collaboration with Clients</h3>
          <section class="philosophy">
            <div class="philosophy-block">
              <img src="images/Scales.png" alt="Integrity" />
              <h4>Integrity</h4>
              <p class="pInfo">
                Honesty and transparency are ingrained in our business practices, and we serve our clients while adhering to these conventions.
              </p>
            </div>
            <div class="philosophy-block">
              <img src="images/Approval.png" alt="Quality" />
              <h4>Quality</h4>
              <p class="pInfo">
                We maintain a high standard of quality in our work with great focus on accuracy and timely delivery.
              </p>
            </div>
            <div class="philosophy-block">
              <img src="images/Graduation-Cap.png" alt="Experience" />
              <h4>Experience</h4>
              <span class="last">
          <p class="pInfo">
            We have served our clients' accounting needs for over {{businessYears}} years, and this experience is applied to our work everyday.
          </p>
        </span>
            </div>
        </div>
      </div>
      <div id="reviews">
        <h3>What Our Customers Say</h3>
        <div class="quoteBlock">
          <p class="quote">
            "Bob is dedicated, loyal, knowledgeable, creative, affordable and knows how to enjoy life! I highly recommend using his services for all of your accounting needs!"
          </p>
          <p class="name">
            - Holly
          </p>
        </div>
        <div class="quoteBlock">
          <p class="quote">
            "Bob is an amazing guy!! Only known him a short time but has already proven to be reliable and honest."
          </p>
          <p class="name">
            - Donald
          </p>
        </div>
      </div>
      <div id="about">
        <div class="personalPhoto">
          <img src="images/bob.jpg" alt="Bob Peiser" />
        </div>
        <div class="personalInfo">
          <p class="pInfo">Bob Peiser was born in Sayville, New York. Growing up, he was an avid runner and went to Bentley College in Massachusetts on a running scholarship to study accounting. He obtained his CPA license in 1982, and he has been an accounting professional
            ever since.</p>
          <p class="pInfo">After working in New York City, he transferred to Dallas, Texas and received his M.B.A at Dallas University. There he met his wife, Alice. In 1989, the family moved to Des Moines, Iowa so Bob could attend law school at Drake University. After
            graduating he took a position as controller in Lamar, Missouri.</p>
          <p class="pInfo">After nearly 3 years, they moved to Springdale, Arkansas in 1996 where Bob became a partner in a local CPA firm. He has been practicing in the Springdale area ever since. Bob still enjoys running, being very involved at his church, New Heights
            in Fayetteville, and spending time with his wife, 4 children and 3 (soon 4!) grandchildren.
          </p>
        </div>
      </div>

      <!-- MODAL CONTENT -->
      <div id="contact-options">
        <p class="modalMessage">Awesome! You're one step closer to business nirvana!
        </p>
        <a href="tel:479-756-1199">
          <div class="modalImage">
            <img src="images/phone.png" alt="Call Us!" />
          </div>
          <p class="modalContact">
            Phone: 479-756-1199
          </p>
        </a>
        <a href="mailto:bobpeisercpa@gmail.com">
          <div class="modalImage">
            <img src="images/Email.png" alt="E-mail Us!" />
          </div>
          <p class="modalContact">
            E-Mail: bobpeisercpa@gmail.com
          </p>
          <a href="https://goo.gl/maps/z8hZJLnuxcJ2" target="_blank">
            <div class="modalImage">
              <img src="images/small-business.png" alt="Visit Us!" />
            </div>
            <p class="modalContact">
              Address: 1392 Plaza Pl Springdale, AR 72764
            </p>
          </a>
      </div>
    </div>
  </div>
